body {
    background-color: silver;
    font-family: 'Courier New';
    color: darkgreen;
}
/* Main text flexbox and color bar for all pages */
#flexMain {
    display: flex;
    /* Visual for debugging the flex boxes, lets you see where they are clearly */
    /* border: 2px solid red; */
    margin: 13px;
    justify-content: center;
    justify-content: flex-start;
    align-items: top;
    flex-direction: column;
}
/* Navbar CSS */
.navbar{
    background-color: #003B5C;
    border-radius: 30px;
    position: sticky;
    top: 20px;
}
.navbar a:hover {
    color: #eee666;
}
.navbar a:active {
    color: #ff0000;
}
.navbar ul{
    overflow: auto;
}
.navbar li{
    float: left;
    list-style: none;
    margin: 15px 20px;
}
.navbar li a{
    padding: 3px 4px;
    text-decoration: none;
    color: white;
}